body {
    font-family: Trebuchet MS;
}



#map {
    top:100px;
    width: 450px;
    height: 450px;
    position: absolute;
    float: left;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
    border-bottom-left-radius: 500px;
    padding: 30px;
}

#barplot {
    position: absolute;
    float: left;
}

.slidecontainer {
    position: absolute;
    top: 650px;
    left: 50px;
}

#myRange {
    width: 400px;
}

 
.axis {
      font: 10px sans-serif;
}

.axis path,
.axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
}

.bar {
  fill: red;
  opacity: 0.8;
}
